<%= form_with(model: application, local: true) do |form| %>
  <% if application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, class: "col-sm-2 col-form-label" %>
    <%= form.text_field :name, id: :application_name, class: "form-control col-sm-10" %>
  </div>
  <div class="form-group row">
      <%= form.label :description, class: "col-sm-2 col-form-label" %>
      <%= form.text_area :description, id: :application_description, class: "form-control col-sm-10" %>
  </div>
  <div class="form-group row">
      <%= form.label :price, class: "col-sm-2 col-form-label" %>
      <%= form.text_field :price, id: :application_price, class: "form-control col-sm-10" %>
  </div>
  <div class="form-group row">
      <%= form.label :application_link, class: "col-sm-2 col-form-label" %>
      <%= form.text_field :link, id: :application_link, class: "form-control col-sm-10" %>
  </div>
  <div class="form-group row">
      <%= form.label :platform, class: "col-sm-2 col-form-label" %>
        <div class="form-check form-check-inline">
        <%= form.radio_button :platform, 'Apple', :checked => true %> 
        <%= label :platform_apple, 'Apple', class: "form-check-label" %>
      </div>
        <div class="form-check form-check-inline">
        <%= form.radio_button :platform, 'Android' %>
        <%= label :platform_android, 'Android', class: "form-check-label" %>
      </div>
  </div>

  <div class="form-group row">
      <%= form.label :version, class: "col-sm-2 col-form-label" %>
      <%= form.text_field :version, id: :application_version, class: "form-control col-sm-10" %>
  </div>
  <div class="form-group row">
      <%= form.label :developer, class: "col-sm-2 col-form-label" %>
      <%= form.text_field :developer, id: :application_developer, class: "form-control col-sm-10" %>
  </div>
  <div class="form-group row">
      <%= form.label :image, class: "col-sm-2 col-form-label" %>
      <%= form.file_field :image, class: "form-control col-sm-10", id: :application_image %>
  </div>

<!--
  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status, id: :application_status %>
  </div>
-->

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
