<!--<p id="notice"><%= notice %></p>-->
<div class="container" style="margin-top: 30px;">
<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <%= image_tag @application.image.url, class: "rounded float-right col-md-6" %>
           
        </div>
    </div>
    <div class="col-md-6">
        <h3><%= @application.name %></h3>
        <p><%= number_to_currency(@application.price) %></p>
        <p><%= @application.description %></p>
        <p>Platform: <%= @application.platform %></p>
        <p>Version: <%= @application.version %></p>
        <p>Developer: <%= @application.developer %></p>
        <a href="http://<%= @application.link %>" target="_blank">Buy app</a>
    </div>
</div>

 <% if user_signed_in? %>
<%= link_to 'Edit', edit_application_path(@application), class: "btn btn-link" %> |
<%= link_to 'Back', applications_path, class: "btn btn-link" %>
<% else %>
    <%= link_to 'Back', applications_path, class: "btn btn-link" %>
<% end %>
</div>

<div class="container" style="margin-top: 20px;">
<div class="row">
<div class="col-sm-12">
<h3>Comments</h3>
</div><!-- /col-sm-12 -->
</div><!-- /row -->
<div class="row">
<div class="col-sm-1">
<div class="thumbnails">
<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->

<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">
<strong>awesomeperson</strong> <span class="text-muted">commented 5 days ago</span>
</div>
<div class="panel-body">
This is a comment
    <h6 style="font-size:12px;">10 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a> 2 <i class="fa fa-thumbs-down" aria-hidden="true"></i></h6>
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->

<div class="col-sm-1">
<div class="thumbnails">
<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->

<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">
<strong>coolperson</strong> <span class="text-muted">commented 5 days ago</span>
</div>
<div class="panel-body">
This is another comment
<h6 style="font-size:12px;">2 <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a> 0 <i class="fa fa-thumbs-down" aria-hidden="true"></i></h6>
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->
</div><!-- /row -->

</div><!-- /container -->