<!--<p id="notice"><%= notice %></p>-->
 <div class="container">
<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <%= image_tag @application.image.url, class: "rounded float-right col-md-6" %>
           
        </div>
    </div>
    <div class="col-md-6">
        <h3><%= @application.name %></h3>
        <p><%= number_to_currency(@application.price) %></p>
        <p><%= @application.description %></p>
        <a href="http://<%= @application.link %>" target="_blank">Buy app</a>
    </div>
</div>


<%= link_to 'Edit', edit_application_path(@application), class: "btn btn-link" %> |
<%= link_to 'Back', applications_path, class: "btn btn-link" %>
</div>