<!DOCTYPE html>
<html>
  <head>
    <title>AppPedia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
<!--
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
-->
    <!-- this is the new code for user alerts (old code is above) -->
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
<!--      For some reason, the alert is always red now..-->
        <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
      
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
